# TREC 2018 Precision Medicine

In [1]:
import json
from json2html import *
from IPython.display import HTML
import eval
import pandas

Load and show configuration

In [2]:
with open('config.json', 'r') as f:
    config = json.load(f)
#HTML(json2html.convert(json = config))

## Load and split TOPICS and GOLD STANDARD from last year (30 topics)
Also, split them into training, test, and development set.

In [3]:
topics_all = eval.get_topics('./topics/topics2017.xml')
qrels_all = eval.get_qrels('./gold-standard/sorted.abstracts.2017.qrels')

In [4]:
topics_train, topics_test, topics_dev = eval.split_topics(topics_all)
qrels_train, qrels_test, qrels_dev = eval.split_qrels(qrels_all, topics_train, topics_test, topics_dev)

In [5]:
full_run_df, params = eval.run(topics_all)

RUN: FIXME TOPICS: 30 {'gene_tie_breaker': 0.5, 'disease_tie_breaker': 0.5, 'gene_boost': 1, 'disease_boost': 1.5, 'query_template': 'baseline.json'}

In [6]:
results, aggregated = eval.evaluate(qrels_all, full_run_df)
aggregated

{'P_10': 0.48, 'Rprec': 0.2847, 'ndcg': 0.5338}

In [7]:
full_run_df

       TOPIC_NO  Q0        ID  RANK      SCORE RUN_NAME
0             1  Q0  26336885     1  56.915230    FIXME
1             1  Q0  16160477     2  54.138200    FIXME
2             1  Q0   9713346     3  52.967705    FIXME
3             1  Q0  11505267     4  52.364445    FIXME
4             1  Q0  21910158     5  52.330850    FIXME
5             1  Q0  18551309     6  52.116394    FIXME
6             1  Q0  26542423     7  52.033350    FIXME
7             1  Q0  25121597     8  51.949410    FIXME
8             1  Q0  18820664     9  51.723730    FIXME
9             1  Q0  21038090    10  51.531060    FIXME
10            1  Q0  25028469    11  51.220436    FIXME
11            1  Q0  26464734    12  50.829740    FIXME
12            1  Q0  19574885    13  50.776960    FIXME
13            1  Q0  15991843    14  49.848995    FIXME
14            1  Q0  20473880    15  49.774822    FIXME
15            1  Q0  25059573    16  49.752617    FIXME
16            1  Q0  23852861    17  49.493340    FIXME
17            1  Q0  24457460    18  49.318977    FIXME
18            1  Q0  24279301    19  48.406807    FIXME
19            1  Q0  16938516    20  48.302680    FIXME
20            1  Q0  18836421    21  46.875153    FIXME
21            1  Q0  18036404    22  46.826035    FIXME
22            1  Q0  24227706    23  46.795826    FIXME
23            1  Q0  12640106    24  46.606323    FIXME
24            1  Q0  25679065    25  46.459030    FIXME
25            1  Q0  19449367    26  46.397945    FIXME
26            1  Q0  19734852    27  46.315426    FIXME
27            1  Q0  23425231    28  46.280884    FIXME
28            1  Q0  23529275    29  46.007034    FIXME
29            1  Q0  23308321    30  45.945183    FIXME
...         ...  ..       ...   ...        ...      ...
29970        30  Q0  21105000   971  37.903957    FIXME
29971        30  Q0  25119024   972  37.903812    FIXME
29972        30  Q0  11992411   973  37.885796    FIXME
29973        30  Q0  17712399   974  37.885757    FIXME
29974        30  Q0  23407165   975  37.882150    FIXME
29975        30  Q0  25360865   976  37.870796    FIXME
29976        30  Q0  17728711   977  37.867924    FIXME
29977        30  Q0  16340742   978  37.864407    FIXME
29978        30  Q0   8284362   979  37.853565    FIXME
29979        30  Q0   8319169   980  37.847515    FIXME
29980        30  Q0   3528667   981  37.840530    FIXME
29981        30  Q0  23321162   982  37.834230    FIXME
29982        30  Q0  11490822   983  37.829610    FIXME
29983        30  Q0  27101576   984  37.828810    FIXME
29984        30  Q0  26622749   985  37.828148    FIXME
29985        30  Q0  25916385   986  37.820110    FIXME
29986        30  Q0  21283994   987  37.818546    FIXME
29987        30  Q0  14631307   988  37.807693    FIXME
29988        30  Q0   6952717   989  37.805290    FIXME
29989        30  Q0  23965232   990  37.805210    FIXME
29990        30  Q0  16697731   991  37.805046    FIXME
29991        30  Q0  21042720   992  37.804710    FIXME
29992        30  Q0  25050350   993  37.795795    FIXME
29993        30  Q0   6318554   994  37.781334    FIXME
29994        30  Q0  21775669   995  37.768047    FIXME
29995        30  Q0  12622423   996  37.759430    FIXME
29996        30  Q0  11180889   997  37.758904    FIXME
29997        30  Q0   7513550   998  37.753555    FIXME
29998        30  Q0  10823000   999  37.744938    FIXME
29999        30  Q0  26601720  1000  37.742317    FIXME

[30000 rows x 6 columns]

## Verify that the split in topics and qrels match

In [5]:
assert(set([str(topic) for topic in topics_train['topic']])==set(qrels_train.keys()))
assert(set([str(topic) for topic in topics_test['topic']])==set(qrels_test.keys()))
assert(set([str(topic) for topic in topics_dev['topic']])==set(qrels_dev.keys()))

Test run with default_params

In [6]:
training_run_df, training_run_params = eval.run(topics_train)

RUN: FIXME TOPICS: 12 {'gene_tie_breaker': 0.5, 'gene_boost': 1, 'query_template': 'baseline.json', 'disease_boost': 1.5, 'disease_tie_breaker': 0.5}

In [7]:
training_results, training_aggregated = eval.evaluate(qrels_train, training_run_df)
training_score = pandas.Series(training_aggregated, name='training ' + '(' + str(len(qrels_train)) + ' topics)')

In [8]:
test_run_df, test_run_params = eval.run(topics_test, training_run_params)

RUN: FIXME TOPICS: 9 {'gene_tie_breaker': 0.5, 'gene_boost': 1, 'query_template': 'baseline.json', 'disease_boost': 1.5, 'disease_tie_breaker': 0.5}

In [9]:
test_results, test_aggregated = eval.evaluate(qrels_test, test_run_df)
test_score = pandas.Series(test_aggregated, name='test ' + '(' + str(len(qrels_test)) + ' topics)')

In [10]:
pandas.DataFrame([training_score, test_score])

                        P_10   Rprec    ndcg
training (12 topics)  0.3917  0.2743  0.5485
test (9 topics)       0.4222  0.2895  0.4876

In [12]:
#eval.experiment(topics_df, qrels)

In [13]:
topics_df

,topic,disease,gene,gene1,gene2,gene3,sex,age
1,1,Liposarcoma,CDK4 Amplification,CDK4 Amplification,,,male,38
2,2,Colon cancer,"KRAS (G13D), BRAF (V600E)",KRAS (G13D),BRAF (V600E),,male,52
3,3,Meningioma,"NF2 (K322), AKT1(E17K)",NF2 (K322),AKT1(E17K),,female,45
4,4,Breast cancer,"FGFR1 Amplification, PTEN (Q171)",FGFR1 Amplification,PTEN (Q171),,female,67
5,5,Melanoma,"BRAF (V600E), CDKN2A Deletion",BRAF (V600E),CDKN2A Deletion,,female,45
6,6,Melanoma,NRAS (Q61K),NRAS (Q61K),,,male,55
7,7,Lung cancer,EGFR (L858R),EGFR (L858R),,,female,50
8,8,Lung cancer,EML4-ALK Fusion transcript,EML4-ALK Fusion transcript,,,male,52
9,9,Gastrointestinal stromal tumor,KIT Exon 9 (A502_Y503dup),KIT Exon 9 (A502_Y503dup),,,female,49
10,10,Lung adenocarcinoma,KRAS (G12C),KRAS (G12C),,,female,61
11,11,Gastric cancer,PIK3CA (E545K),PIK3CA (E545K),,,male,54
12,12,Colon cancer,BRAF (V600E),BRAF (V600E),,,male,35
13,13,Cholangiocarcinoma,BRCA2,BRCA2,,,male,72
14,14,Cholangiocarcinoma,IDH1 (R132H),IDH1 (R132H),,,male,64
15,15,Cervical cancer,STK11,STK11,,,female,26
16,16,Pancreatic cancer,CDKN2A,CDKN2A,,,male,54
17,17,Prostate cancer,PTEN Inactivating,PTEN Inactivating,,,male,81
18,18,Pancreatic cancer,CDK6 Amplification,CDK6 Amplification,,,male,48
19,19,Colorectal cancer,FGFR1 Amplification,FGFR1 Amplification,,,female,35
20,20,Liposarcoma,MDM2 Amplification,MDM2 Amplification,,,male,26
21,21,Lung adenocarcinoma,ALK Fusion,ALK Fusion,,,female,64
22,22,Lung cancer,ERBB2 Amplification,ERBB2 Amplification,,,male,70
23,23,Breast cancer,PTEN Loss,PTEN Loss,,,female,54
24,24,Lung cancer,NTRK1,NTRK1,,,female,58
25,25,Lung adenocarcinoma,MET Amplification,MET Amplification,,,male,48
26,26,Breast cancer,NRAS Amplification,NRAS Amplification,,,female,35
27,27,Pancreatic adenocarcinoma,"KRAS, TP53",KRAS,TP53,,female,49
28,28,Pancreatic ductal adenocarcinoma,ERBB3,ERBB3,,,female,73
29,29,Ampullary carcinoma,KRAS,KRAS,,,male,61
30,30,Pancreatic adenocarcinoma,"RB1, TP53, KRAS",RB1,TP53,KRAS,female,57